RetryManagerSln/.vs/RetryManagerSln/v15/*
RetryManagerSln/ConsoleApp/obj/*
RetryManagerSln/ConsoleApp/bin/
RetryManagerSln/RetryManager/obj/*
RetryManagerSln/RetryManager/bin/
RetryManagerSln/.vs/RetryManagerSln/DesignTimeBuild/.dtbcache
RetryManagerSln/Tests/bin/*
RetryManagerSln/Tests/obj/*
RetryManagerSln/Tests/Properties/*
